@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vazirmatn:wght@100..900&display=swap");

:root,
:root.dark {
  --color: #e9e8eb;
  --main-bg: #07080c;
  --card-bg: #131517;
  --gray: #76787c;
  --primary: #f78a1d;
  --primary-2: #d85226;
  --alter-bg: #1d2028;
  --navbar-bg: #131517;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--main-bg);
  color: var(--color);
}

/* Navbar */
#navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: var(--navbar-bg);
  align-items: center;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(var(--primary), var(--primary-2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.buttons-container .nav-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--navbar-bg);
  color: var(--color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1.1rem;
}

.buttons-container .nav-btn:hover {
  background-color: var(--primary);
  color: var(--main-bg);
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.login-btn {
  background-color: var(--primary);
}

.login-btn:hover {
  background-color: var(--navbar-bg);
  border: 1px solid var(--primary);
  color: var(--color);
}

.buttons-container .active-navitem {
  position: relative;
}
.buttons-container .active-navitem::before {
  content: "";
  width: 2rem;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: var(--primary);
  left: 50%;
  transform: translateX(-50%);
}

/* Home Page */
.homepage {
  font-family: "Tinos", serif;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.welcome-heading {
  font-size: 8rem;
}

.home-image {
  width: 30%;
  margin-top: -5rem;
}

.restaurant-name {
  font-size: 6rem;
  margin-top: -5rem;
  letter-spacing: 3rem;
  position: relative;
  text-shadow: 1px 1px 10px var(--main-bg);
}

.restaurant-text {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 0.5rem;
}
